html {
  background-color: #2d2b2b;
}

body {
  color: #ed5252;
  background-color: #454242;
  padding-left: 0.5%;
  font-family: 'Montserrat',sans-serif;
  padding-bottom: 10%;
}

h1 {
  font-size: 350%;
}

pre {
  font-family: 'Montserrat',sans-serif;
  font-size: 110%;
}

.a {
  font-family: 'Montserrat',sans-serif;
  text-decoration: none;
  background-color: #ed5252;
  color: #454242;
  font-weight: 900;
  font-size: 200%;
  padding: 1%;
  border-radius: 25px;
}

a {
  color: #ed5252;
  font-family: 'Montserrat',sans-serif;
  font-size: 110%
}
